
.root{
-fx-background-color:#0d1b2a;
}

#changeButton{
-fx-background-color:#e4d9ff;
-fx-text-fill: #1e2749;
}

.button{
-fx-background-color:#1b263b;
-fx-text-fill: #e0e1dd;
}

.toggle-button{
-fx-background-color: #1b263b;
-fx-text-fill: #e0e1dd;
}

#titleLabel{
-fx-text-fill: #415a77;
}
#data{
    -fx-padding: 5;
}

.menu-item{
    -fx-background-color: #1b263b;
}

.menu-item{
    -fx-background-color: #1b263b;
}

.label{
-fx-text-fill: #e0e1dd;
    -fx-padding: 5;
}

.text-field{
-fx-background-color:#1b263b;
-fx-text-fill: #e0e1dd;
}

.table-view .cell{
    -fx-background-color: #1b263b;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.list-view .list-cell {
    -fx-background-color: #1b263b;
    -fx-alignment: center;
    -fx-text-fill: white;
}
.table-view .cell:odd{
    -fx-background-color: #354b74;
    -fx-alignment: center;
}
.list-view .list-cell:odd{
    -fx-background-color: #354b74;
    -fx-alignment: center;
}
.list-view{
    -fx-text-fill: white;
}
#H1{
    -fx-text-fill: white;
}
.table-view{
    -fx-background-color: #1b263b;
    -fx-alignment: center;
}
.table-view .column-header{
    -fx-background-color:  #354b74;
}
.filler{
    -fx-background-color:  #354b74;
}
.text-field{
    -fx-background-color: #1b263b;
    /*-fx-padding: 5;*/
}

.radio-button{
-fx-text-fill: #e0e1dd;
-fx-mark-color: #415a77 ;
}

.combo-box{
-fx-background-color:#1b263b;
-fx-text-fill: #415a77;
}

.axis{
-fx-tick-label-fill: #415a77;
}

.chart-legend {
-fx-background-color:#1b263b;
}

.chart-legend-item{
-fx-text-fill: #415a77;
}

.chart-plot-background{
-fx-background-color: #778da9;
}

.color-picker{
-fx-background-color:#1b263b;
-fx-text-fill: #415a77;
}